.tabs{
  width: 50%;
  margin: auto;
}
.search{
  display: flex;
  justify-content: center;
  margin: auto;
}

mat-form-field{
  width: 60%;
}

.search-btn{
  margin-left: 20px;
  height: 36px;
  align-self: center;
  margin-top: -10px;
}

form{
  margin-top: 10px;
}
